<tr>
  <td class='center'><%=table_row[RANK_INDEX]%></td>
  <td class='left'><%=table_row[NAME_INDEX]%></td>
  <td class='center'><%=table_row[TIME_INDEX]%></td>
  <td class='center'><%=table_row['Sexe']%></td>
  <td class='center'><%=table_row['Clas. Sexe']%></td>
  <td class='center'><%=table_row['Cat.']%></td>
  <td class='center'><%=table_row['Clas. Cat.']%></td>
</tr>



