Choisissez un fichier CSV à traiter :
<br><br>

<%= form_tag({:action => 'create'}, :multipart => true) do %>
    <p><label for="upload_file">Select File</label>
      <%= file_field_tag :file %>
      <%= submit_tag "Envoyer" %>
<% end %>

<div class="flash">
  <% flash.each do |key, value| %>
      <%= value %>
  <% end %>
  <%= yield %>
</div>