Choisissez un fichier CSV à traiter :
<br><br>

<%= form_tag({:action => 'create'}, :multipart => true) do %>
    <p><label for="race_name">Nom de la course : </label>
    <input id="race_name" name="race_name" type="text" />
    <p><label for="sender_mail">Nom de l'expéditeur (mail) : </label>
      <input id="sender_mail" name="sender_mail" type="text" />
    <p><label for="race_name_mail">Nom de la course (mail) : </label>
      <input id="race_name_mail" name="race_name_mail" type="text" />
    <p><label for="race_date">Date de la course : </label>
      <input id="race_date" name="race_date" type="text" />
    <p><label for="upload_file">Fichier CSV : </label>
      <%= file_field_tag :file %>
      <%= submit_tag "Envoyer" %>
<% end %>

<div class="flash">
  <% flash.each do |key, value| %>
      <%= value %>
  <% end %>
  <%= yield %>
</div>