<tr class='<%=result_widget.sex%>' >
  <td class='center'><%=result_widget.rank%></td>
  <td class='left'><%=result_widget.name%></td>
  <td class='center'><%=result_widget.bib%></td>
  <td class='center'><%=result_widget.time%></td>
  <td class='center'><%=result_widget.sex%></td>
  <td class='center'><%=result_widget.sex_rank%></td>
  <td class='center'><%=result_widget.categ%></td>
  <td class='center'><%=result_widget.categ_rank%></td>
</tr>
