<tr>
<td class='center'><%=result.phone%></td>
  <td class='center'><%=result.rank%></td>
  <td class='left'>  <%=result.name%></td>
  <td class='center'><%=result.sex%></td>
  <td class='center'><%=result.sex_rank%></td>
  <td class='center'><%=result.categ%></td>
  <td class='center'><%=result.categ_rank%></td>
  <td class='center'><%=result.time%></td>
  <td class='center'><%=result.speed%></td>
  <td class='center'><%=result.race_detail%></td>
  <td class='center'><%=result.message%></td>
</tr>



