<h1>Courses</h1>
<div class="pull-right">
  <%= link_to 'Les évènements', events_path, class:'btn btn-warning'%>
</div>
<br/>
<table class='table table-bordered table-default table-striped'>
  <thead>
    <tr>
      <th class='text-center'>Nom</th>
      <th class='text-center'>Date</th>
      <th class='text-center'>NB Resultats</th>
      <th class='text-center'>SMS envoyés</th>
      <th class='text-center'>Widget</th>
      <th class='text-center'>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%@races.each do |race|%>
      <tr>
        <td><%=link_to race.name, race_path(race)%></td>
        <td class='text-center'><%=I18n.l race.date%></td>
        <td class='text-right'><%=number_with_precision(race.results.count, precision: 0 , delimiter: ' ')%></td>
        <td><%=race.results.where("sms_sent_at > uploaded_at").count%></td>
        <td class='text-center'>
        <% if race.widget_generated_at%>
          <%=I18n.l race.widget_generated_at, format: :short%>
        <%else%>
          <%= link_to "Générer", generate_widget_race_path(race), class: "btn btn-default btn-sm", "data-method" => :post -%>
        <%end%>
        </td>

        <td class='text-center'><%=link_to "Editer", edit_race_path(race), class: 'btn btn-default btn-sm'%></td>
      </tr>
    <%end%>
  </tbody>
</table>

<%= link_to "Nouvel évènement", new_event_path, class:'btn btn-default'%>
<%= link_to "Nouvelle course", new_race_path(), class:'btn btn-default'%>
<%= link_to "Importer des évènements", upload_events_path, class:'btn btn-default'%>
<div class="pull-right">
	<%= link_to "Re-générer tous les widgets", regenerate_all_widgets_race_path(@races), class:'btn btn-default'%>
</div>
