<div class='col-sm-12'>
  <div class='col-md-6'>
    <table class='table table-striped table-bordered' >
      <tr>
        <th>Nom</th>
        <td><%= @race.name%></td>
      </tr>
      <tr>
        <th>Date</th>
        <td><%= I18n.l @race.date unless @race.date.nil?%></td>
      </tr>
      <tr>
        <th>Email Sender</th>
        <td><%= @race.email_sender%></td>
      </tr>
      <tr>
        <th>Email Name</th>
        <td><%= @race.email_name%></td>
      </tr>
      <tr>
        <th>Fichier</th>
        <td class='text-center'>
          <%= link_to "Télécharger le fichier CSV", @race.raw_results.url, class: 'btn btn-default'%>
        </td>
      </tr>
      <tr>
        <th>Nombre de coureurs</th>
        <td><%=@race.runners_count%></td>
      </tr>
      <tr>
        <th>Courses</th>
        <td><%=@race.races_count%> Courses<br>
        <%@race.races.each do |race|%>
          <span class="label label-primary"><%=race%></span>
        <%end%>
        </td>
      </tr>
    </table>
  </div>
  <div class='col-md-6'>
    <%=image_tag @race.background_image.url(:medium), class:'pull-right' %>
  </div>
</div>
<div class='col-sm-12'>
  <%= link_to "Editer", edit_race_path(@race), class: 'btn btn-default' %>
  <%= link_to "Retour à la Liste", races_path, class: 'btn btn-default' %>
  <div class='pull-right'>
  <%= link_to "Supprimer", race_path(@race), class: "btn btn-danger", "data-confirm" => "Etes-vous sûr ?", "data-method" => :delete -%>
  <%= link_to "Envoyer", send_results_race_path(@race), class: "btn btn-warning", "data-confirm" => "Etes-vous sûr ?", "data-method" => :post -%>
  </div>
</div>

<%unless @race.results.empty?%>
<h2 class='text-center'><%=@race.runners_count%> résultats</h2>
<table class='table table-default table-striped'%>
  <thead>
    <tr>
      <th class='text-center'>Tel.</th>
      <th class='text-center'>Email</th>
      <th class='text-center'>Class.<br>Gen.</th>
      <th > Nom</th>
      <th class='text-center'>Sexe</th>
      <th class='text-center'>Class.<br>Sexe</th>
      <th class='text-center'>Categ.</th>
      <th class='text-center'>Class.<br>Categ.</th>
      <th class='text-center'>Temps</th>
      <th class='text-center'>Vitesse</th>
      <th class='text-center'>Detail<br>Course</th>
      <th class='text-center'>Message</th>
    </tr>
  </thead>
  <%= render partial: 'result', collection: @race.results%>
</table>
<%end%>