<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://s3-eu-west-1.amazonaws.com/results-widget.kapp10.com/widget.min.js"></script>
<link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/results-widget.kapp10.com/widget.min.css">

<script>
	categoriesSorted = [<%= @categories_sorted.to_json %>];
</script>

<style>
	<% if @race.races_count > 0 %>
		<%= @race.results.order([:race_detail,:rank]).group_by(&:race_detail).map  { |race, results|
			"#tab_#{race.parameterize}:checked ~ #resultsContainer #content_#{race.parameterize}"}.join(',')%>  {
				display: block;
			}
	<%end%>
</style>

<body>
	<%coder = HTMLEntities.new%>
	<h1><%=coder.encode(@race.name, :named).html_safe%> - <%=I18n.l @race.date%></h1>
	<%
	results_sex_any = @race.results.pluck(:sex).any?
	results_sex_rank_any = @race.results.pluck(:sex_rank).any?
	results_categ_any = @race.results.pluck(:categ).any?
	results_categ_rank_any = @race.results.pluck(:categ_rank).any?
	%>
	<% if @race.races_count>0%>
	  <% first = true
	  @race.results.order([:race_detail,:rank]).group_by(&:race_detail).each  do |race, results|%>
	    <input id="tab_<%=race.parameterize%>" class='tab' type="radio" name="tabs" onclick="updateSelectedRaces()"<%if first%>checked<% first=false; end%>>
	    <label for="tab_<%=race.parameterize%>" class="tabRacesCount"><%=race%></label>
	  <%end%>
	<%end%>
	<div class="kapp10Filters">
		<p id="filterCaption">Filter les R&eacute;sultats</p>
		<% if results_sex_any %>
			<select name="filterSexe" id="filterSexe" class="filtersSearch" onchange="participant_filter()">
				<option value="all">Tous les sexes</option>
				<option value="M">Hommes</option>
				<option value="F">Femmes</option>
			</select>
		<% end %>
		<% if @categories && @categories.count > 1 %>
			<select name="filterCategory" id="filterCategory" class="filtersSearch" onchange="participant_filter()">
				<option value="all">Toutes les cat&eacute;gories</option>
				<% @categories.each do |category| %>
					<option value="<%= category %>"><%= category %></option>
				<% end %>
			</select>
		<% end %>
	</div>
	<div class="kapp10Research">
		<input type="text" id="kapp10-filter" onkeyup="participant_filter()" placeholder="Rechercher un coureur...">
		<div id="closingCircleResearch" onclick="reset_participant_filter()"><span id="closingCrossResearch">x</span></div>
	</div>
	<div class="tableCaption">
		Scroll vertical et horizontal pour lire tous les r&eacute;sultats avec &harr; et &#8597;
	</div>
	<div class="headTableContainer desktop-only">
		<div class="headTableWrapper">
			<div class="horizontalScrollContainer">
				<div class="scrollLeftContainer"><span class="iconeArrow arrowLeft"></span></div>
				<div class="scrollRightContainer"><span class="iconeArrow arrowRight"></span></div>
			</div>
			<table id="resultsHead">
				<thead>
					<tr>
						<th class="fixedColumn"><span id="fixedAlign">Class.<br>Scratch</span></th>
						<th class="fixedColumnWithMargin"><span id="fixedAlignMargin">Nom</span></th>
						<th>Dossard</th>
						<th>Temps</th>
						<%= "<th>Sexe</th>"  if results_sex_any %>
						<%= "<th>Class.<br>Sexe</th>" if results_sex_rank_any %>
						<%= "<th>Cat&eacute;gorie</th>" if results_categ_any %>
						<%= "<th>Class.<br>Categ.</th>" if results_categ_rank_any %>
					</tr>
				</thead>
			</table>
		</div>
	</div>

	<div id="resultsContainer">
		<%
		  @race.results.order([:race_detail,:rank]).group_by(&:race_detail).each  do |race, results|
		%>
		  <section id="content_<%=race.parameterize unless race.nil?%>">
				<div class="scrollbar desktop-only" id="scrollbar_<%=race.parameterize unless race.nil?%>">
					<div class="scrollbar-track" id="scrollbarTrack_<%=race.parameterize unless race.nil?%>"></div>
						<div class="scrollbar-thumb" id="scrollbarThumb_<%=race.parameterize unless race.nil?%>"></div>
				</div>
				<div class="fixedTable">
					<div class="tableWrapper" id="tableWrapper_tab_<%=race.parameterize unless race.nil?%>" onscroll="onTableWrapperScroll()">
				    <table class='results' id='widgetResults'>
							<thead class="mobileOnly">
								<tr>
									<th>Class.<br>Scratch</th>
									<th>Nom</th>
									<th>Dossard</th>
									<th>Temps</th>
									<%= "<th>Sexe</th>"  if results_sex_any %>
									<%= "<th>Class.<br>Sexe</th>" if results_sex_rank_any %>
									<%= "<th>Cat&eacute;gorie</th>" if results_categ_any %>
									<%= "<th>Class.<br>Categ.</th>" if results_categ_rank_any %>
								</tr>
							</thead>
				      <tbody>
				      <%results.each do |result|%>
				        <tr class='<%=result.sex%>'  data-search='<%=  I18n.transliterate(result.name).upcase%>' data-sexe-search='<%= result.sex %>' data-category-search='<%= result.categ %>'>
									<td class='center fixedColumn'><%=result.rank%></td>
									<td class='left fixedColumnWithMargin'><%= coder.encode(result.name, :named).html_safe%> </td>
				          <td class='center'><%=result.bib%></td>
				          <td class='center'><%=result.time%></td>
				          <%= '<td class="center">'+result.sex+'</td>' if results_sex_any %>
				          <%= '<td class="center">'+result.sex_rank.to_s+'</td>' if results_sex_rank_any %>
				          <%= '<td class="center">'+result.categ.to_s+'</td>' if results_categ_any %>
				          <%= '<td class="center">'+result.categ_rank.to_s+'</td>' if results_categ_rank_any %>
				        </tr>
				      <%end%>
				      </tbody>
				    </table>
					</div>
				</div>
				<p class="noResults" style="display:none;text-align:center;">Pas de r&eacute;sultat</p>
		  </section>
		<%end%>
	</div>
	<p style="color:black;height:23px;"><em>R&eacute;sultats g&eacute;n&eacute;r&eacute;s le <%=I18n.l @generated_at%>.</em></p>
	<p style='text-align: center;color:black;height:23px;'><a style='text-decoration: none; color: black' href='http://kapp10.com'>R&eacute;sultats fournis par <img src='http://results-widget.kapp10.com.s3.amazonaws.com/logo_kapp10.png' style='height: 1em'></a></p>
</body>
