<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-Equiv="Cache-Control" Content="no-cache" />
<meta http-Equiv="Pragma" Content="no-cache" />
<meta http-Equiv="Expires" Content="0" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="<%= Edition::S3_BASE_URL %>/widget-client.js"></script>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link rel="stylesheet" href="<%= Edition::S3_BASE_URL %>/widget.min.css">
<link rel="stylesheet" href="<%= Edition::S3_BASE_URL %>/widget-client.min.css">
<link rel="stylesheet" href="<%= Edition::S3_BASE_URL %>/fonts/stylesheet.css">
<link rel="stylesheet" href="<%= Edition::S3_BASE_URL %>/newStyle.css">
<link rel="stylesheet" href="<%= Edition::S3_BASE_URL %>/newStyleClient1_1.css">
<link rel="stylesheet" href="<%= Edition::S3_BASE_URL %>/newStyleClient1_2.css">

<body>
  <div class="container">

    <a class='btn btn-danger' id="back-button" style="display: none" onclick="displayEventsPage()">Revenir à la liste des courses</a>
    
    <div class="filtersConteners">
      <div class="kapp10Filters">
        <select name="filterMonth" id="filterMonth" class="filtersSearch filterMoisBg" onchange="eventsFilter()">
        </select>

        <select name="filterDepartment" id="filterDepartment" class="filtersSearch filterDepartementBg" onchange="eventsFilter()">
          <option value="ALL">Départements</option>
          <% @departments.each do |d| %>
              <option value="<%= d %>"><%= d %></option>
          <% end %>
        </select>

        <select name="filterType" id="filterType" class="filtersSearch filterCategoryBg" onchange="eventsFilter()">
          <option value="ALL">Type de course</option>
          <% @types.each do |type| %>
              <option value="<%= type %>"><%= type %></option>
          <% end %>
        </select>
      </div>

      <div class="kapp10Research">
        <input type="text" id="kapp10-filter" placeholder="Rechercher..." class="filtersSearch filterSearchBg" onkeyup="eventsFilter()"/>
      </div>
    </div>

    <div class="text-center pagination-bloc">
      <div id="pagination_container">
      </div>
    </div>

    <div id="allsections">
    </div>

    <div id="mainResultsContent">
      <div id="resultsContainer">
        <section id="content">
          <div class="loading">
            <img src="<%= Edition::S3_BASE_URL %>/loading.gif">
          </div>
          <div class="fixedTable">
            <div class="tableWrapper" id="tableWrapper_tab">
              <div class="event-results">
                <% @events.each do |event| %>
                  <div class='event col-xs-12 firstTd striped'>
                    <h3><%= event.name %></h3>
                    <ul>
                      <li><div class='logo-edition'><img src='https://evenementwidget.herokuapp.com/assets/images/lieu.png'><%= event.department %></div></li>
                      <li><div class='logo-edition'><img src='https://evenementwidget.herokuapp.com/assets/images/distance.png'><%= event.races.map(&:name).uniq.join(', ') %></div></li>
                      <li><div class='logo-edition'><img src='https://evenementwidget.herokuapp.com/assets/images/type.png'><% event.races.map(&:race_type).reject(&:blank?).join(', ') %></div></li>
                    </ul>

                    <div class="theDate">
                      <div class="myDate"><div class="pull-right"><%= event.editions.last.date.strftime('%d/%m/%Y') %></div></div>
                      <div class='row'><div class='pull-right results-count'><div><%= "#{event.editions.last.results.count} finisseurs" if event.editions.last.results.count > 0 %></div></div></div>
                      <div class='row'><div class='pull-right results-button'><a class='btn btn-warning' onclick=\"displayResultsPage('<%= event.editions.last.widget_url %>')\">Voir les résultats</a></div></div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div id="noResults" style="text-align:center;" class="alert alert-danger">
      <strong>Pas de course</strong>
    </div>

    <div id="result-iframe">
      <iframe class='kapp10-embed' src="" frameborder="0" scrolling="no" frameborder="0" allowfullscreen="" style="border: none; width: 1px; min-width: 100%; *width: 100%; height: 100%; min-height: 1000px;" scrolling="no"></iframe>
    </div>
    <p style='text-align: center;color:black;height:23px;'><a style='text-decoration: none; color: black' href='http://kapp10.com'>Pour toute r&eacute;clamation, demande de modification ou de suppression d'information personnelle, merci de nous &eacute;crire à contact@kapp10.com</a></p>
</div>

  <script>
    var events = [<%= @event_array.to_json %>][0];
    var event_lines = [<%= @event_lines.to_json %>][0];
    function race_select() {
      var source = $('#filterRace').val();
      $('.kapp10-embed').attr('src', source);
    }
  </script>

  <script>
    $(document).ready(function($) {
      var pagination_container = $('#pagination_container').detach();
      $('div.container').append(pagination_container);
      var precedentPaginationBtn = $('.page-item.first a');
      var suivantPaginationBtn = $('.page-item.last a');
      precedentPaginationBtn.empty().append('Précédent');
      suivantPaginationBtn.empty().append('Suivant');
      //
      $(document).on('click', 'a.page-link', function(event) {
        event.preventDefault();
        console.log('clicked');
        $('.page-item.first a').empty().append('Précédent');
        $('.page-item.last a').empty().append('Suivant');
      });
    });
  </script>
</body>
