<html>
<head>
  <title>Kapp10 - FinishLine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style>

		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		    margin: 0;
		    padding: 0;
		    border: 0;
		    font: inherit;
		    vertical-align: baseline;
		}

		img {
		    max-width: 100%;
		}

		@font-face {
			font-family: 'HelveticaLTStd-BlkCond';
			src: url("<%=DOMAIN_URL%>/templates/template_base1000x666/fonts/HelveticaLTStd-BlkCond.ttf")  format('truetype');
			font-weight: normal;
			font-style: normal;
		}

		@font-face {
		    font-family: 'Antonio-Bold';
				src: url("<%=DOMAIN_URL%>/templates/template_base1000x666/fonts/Antonio-Bold.ttf")  format('truetype');
		    font-weight: normal;
		    font-style: normal;
		}

		body {
		  width: 1000px;
		  height: 709px;
		}

		.content {
			min-width: 1000px;
			min-height: 709px;
			width: 1000px;
	    height: 709px;
	    max-width: 1000px;
	    max-height: 709px;
	    background: url('<%=DOMAIN_URL%>/templates/template_traverseebaie/saint_jean.jpg') no-repeat fixed;
			background-size: 1000px 709px;
	    margin: auto;
			color: black;
			font-family: 'Antonio-Bold';
		}

		.infos_container {
			width: 353px;
	    height: 130px;
			padding: 15px 10px 10px 10px;
	    position: absolute;
	    top: 517px;
	    left: 312px;
			text-align: center;
		}

		.name {
			font-family: 'HelveticaLTStd-BlkCond';
			text-transform: uppercase;
			font-size: 19px;
		}

		.date {
			text-transform: uppercase;
		}

		.rank {
			font-size: 25px;
    	color: #db293a;
		}

		.time_caption {
			position: absolute;
			bottom: 33px;
			font-size: 12px;
		}

		.time {
			position: absolute;
	    bottom: 10px;
	    left: 10px;
			font-size: 18px;
		}

		.speed_caption {
			position: absolute;
			right: 10px;
			bottom: 33px;
			font-size: 12px;
		}

		.speed {
			position: absolute;
			right: 10px;
			bottom: 10px;
			font-size: 18px;
		}
		</style>
</head>
<body>
	<div class="content">
		<div class="infos_container">
			<div class="name"><%= @name %></div>
			<div class="race"><%= @race_detail %> - <%= I18n.localize(@result.edition.date, format: '%e %B %Y') %></div>
			<div class="rank"><%= @rank %><%= @rank_total %></div>
			<% if @time %>
				<div class="time_caption">Temps</div>
				<div class="time"><%= @time %></div>
			<% end %>
			<% if @speed %>
				<div class="speed_caption">Vitesse moyenne</div>
				<div class="speed"><%= @speed %> km/h</div>
			<% end %>
		</div>
	</div>
</body>
</html>
