<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="fr">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width" name="viewport"/>
    <style>
      body {
        font-family: Lato;
      }

      .result-message {
        margin: auto;
        width: 80%;
      }

      .result-message > .result-message-text {
        font-size: 16px;
        text-transform: uppercase;
      }

      .result-message > .result-message-text > .result-rank {
        font-size: 90px;
      }

      .result-message > .result-message-text > .result-rank > .result-rank-ordinal {
        font-size: 16px;
        position: relative;
        top: -50px;
      }

      .result-image {
        width: 100%;
      }

      .result-share-links {
        margin-left: 30px;
        margin-top: 30px;
      }

      .result-share-links > .result-share-links-left {
        display: inline-block;
        text-align: center;
        width: 50%;
      }

      .result-share-links > .result-share-links-right {
        display: inline-block;
        text-align: center;
        width: 49%;
      }

      .result-share-links .result-share-link {
        text-decoration: none;
      }

      .result-share-links .result-share-link > .result-share-link-text {
        color: #000;
        font-size: 16px;
        text-transform: uppercase;
      }

      .result-ctas {
        margin: 40px auto 0 auto;
        width: 80%;
      }

      .result-ctas > .result-ctas-left {
        display: inline-block;
        text-align: center;
        width: 50%;
      }

      .result-ctas > .result-ctas-right {
        display: inline-block;
        text-align: center;
        width: 49%;
      }

      .result-ctas .result-cta-link {
        display: inline-block;
        background-color: #000;
        padding: 15px;
        text-decoration: none;
        width: 80%;
      }

      .result-ctas .result-cta-link > .result-cta-text {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
      }

      .result-footer {
        text-align: center;
        margin-top: 40px;
      }

      .result-footer > .result-footer-link {
        display: inline-block;
        text-decoration: none;
        width: 33%;
      }

      .result-footer > .result-footer-link > .result-footer-link-text {
        font-size: 16px;
        color: #000;
        text-transform: uppercase;
      }

    </style>
  </head>
  <body>
    <div class="result-message">
      <p class="result-message-text">
        <strong><%= @result.first_name %> <%= @result.last_name %></strong>
        est
        <%= @result.sex == 'M' ? 'arrivé' : 'arrivée' %>
        <br/>
        <span class="result-rank">
          <%= @result.rank %><span class="result-rank-ordinal">
            <% if @result.rank == 1 %>
              <%= @result.sex == 'M' ? 'er' : 'ère' %>
            <% else %>
              ème
            <% end %>
          </span>
        </span>
        <br/>
        à la course
        <strong><%= @result.race_detail %></strong>
      </p>
    </div>

    <img src="<%=@result.diploma_url%>" class="result-image">

    <div class="result-share-links">
      <div class="result-share-links-left">
        <a href="#" class="result-share-link">
          <span class="result-share-link-text">
            Partager sur Facebook
          </span>
        </a>
        |
        <a href="#" class="result-share-link">
          <span class="result-share-link-text">
            Twitter
          </span>
        </a>
      </div>
      <div class="result-share-links-right">
        <a href="#" class="result-share-link">
          <span class="result-share-link-text">
            Autre partage
          </span>
        </a>
      </div>
    </div>

    <div class="result-ctas">
      <div class="result-ctas-left">
        <a href="#" class="result-cta-link">
          <span class="result-cta-text">
            Télécharger le diplôme (version imprimable)
          </span>
        </a>
      </div>
      <div class="result-ctas-right">
        <a href="#" class="result-cta-link">
          <span class="result-cta-text">
            Recevoir le diplôme à domicile
          </span>
        </a>
      </div>
    </div>

    <div class="result-footer">
      <a href="#" class="result-footer-link">
        <span class="result-footer-link-text">
          Mentions légales
        </span>
      </a>

      <a href="#" class="result-footer-link">
        <span class="result-footer-link-text">
          J'annule le service
        </span>
      </a>

      <a href="#" class="result-footer-link">
        <span class="result-footer-link-text">
          Powered by Kapp10
        </span>
      </a>
    </div>
  </body>
</html>
