<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://<%= ENV['AWS_S3_HOST_NAME_REGION'] %>.amazonaws.com/<%= ENV['S3_WIDGET_BUCKET'] %>/widget-challenge.min.js"></script>
<link rel="stylesheet" href="https://<%= ENV['AWS_S3_HOST_NAME_REGION'] %>.amazonaws.com/<%= ENV['S3_WIDGET_BUCKET'] %>/widget.min.css">
<style>
    <%= @types.map  { |type|
        "#tab_#{type}:checked ~ #mainResultsContent #resultsContainer #content_#{type}"}.join(',')%>  {
        display: block;
    }
</style>
<body>
<%coder = HTMLEntities.new%>
<h1>Global Challenge</h1>
<%
   results_sex_any = true #@edition.results.pluck(:sex).any?
   results_sex_rank_any = true #@edition.results.pluck(:sex_rank).any?
   results_categ_any = true #@edition.results.pluck(:categ).any?
   results_categ_rank_any = true #@edition.results.pluck(:categ_rank).any?
   # results_bib_any = @edition.results.where(bib: 0..Float::INFINITY)
%>

<% first = true
   @types.each  do |type|%>
    <input id="tab_<%=type%>" class='tab' type="radio" name="tabs" onclick="updateSelectedRaces()"<%if first%>checked<% first=false; end%>>
    <label for="tab_<%=type%>" class="tabRacesCount"><%=type.capitalize%></label>
<%end%>
<div class="kapp10Filters">
  <p id="filterCaption">Filter les R&eacute;sultats</p>
  <% if results_sex_any %>
      <select name="filterSexe" id="filterSexe" class="filtersSearch" onchange="participant_filter()">
        <option value="all">Sexe</option>
        <option value="M">Hommes</option>
        <option value="F">Femmes</option>
      </select>
  <% end %>
  <% if @categories && @categories.count > 1 %>
      <select name="filterCategory" id="filterCategory" class="filtersSearch" onchange="participant_filter()">
        <option value="all">Toutes les cat&eacute;gories</option>
        <% @categories.each do |category| %>
            <option value="<%= category %>"><%= category %></option>
        <% end %>
      </select>
  <% end %>
</div>
<div class="kapp10Research">
  <input type="text" id="kapp10-filter" onkeyup="participant_filter()" placeholder="Rechercher un coureur...">
  <div id="closingCircleResearch" onclick="reset_participant_filter()"><span id="closingCrossResearch">x</span></div>
</div>
<div class="tableCaption">
  Scroll vertical et horizontal pour lire tous les r&eacute;sultats avec &harr; et &#8597;
</div>
<div id="pagination_container"></div>
<div class="headTableContainer desktop-only">
  <div class="headTableWrapper">
    <div class="horizontalScrollContainer">
      <div class="scrollLeftContainer"><span class="iconeArrow arrowLeft"></span></div>
      <div class="scrollRightContainer"><span class="iconeArrow arrowRight"></span></div>
    </div>
    <table id="resultsHead">
      <thead>
      <tr>
        <th class="fixedColumn"><span id="fixedAlign">Class.<br>Scratch</span></th>
        <th class="fixedColumnWithMargin"><span id="fixedAlignMargin">Nom</span></th>
        <th>Pts</th>
        <%= "<th>Sexe</th>"  if results_sex_any %>
        <%= "<th>Cat&eacute;gorie</th>" if results_categ_any %>
        <%= "<th>Nb courses</th>" %>
      </tr>
      </thead>
    </table>
  </div>
</div>
<div class="loading"><img src="https://<%= ENV['AWS_S3_HOST_NAME_REGION'] %>.amazonaws.com/<%= ENV['S3_WIDGET_BUCKET'] %>/loading.gif"></div>
<div id="mainResultsContent">
  <div id="resultsContainer">
    <%
       @scores.sort { |a,b| a.points <=> b.points }.reverse.group_by(&:race_type).each  do |type, scores|
         edition_line = []
    %>
        <section id="content_<%=type unless type.nil?%>">
          <div class="scrollbar desktop-only" id="scrollbar_<%=type unless type.nil?%>">
            <div class="scrollbar-track" id="scrollbarTrack_<%=type unless type.nil?%>"></div>
            <div class="scrollbar-thumb" id="scrollbarThumb_<%=type unless type.nil?%>"></div>
          </div>
          <div class="fixedTable">
            <div class="tableWrapper" id="tableWrapper_tab_<%=type unless type.nil?%>" onscroll="onTableWrapperScroll()">
              <table class='results' id='widgetResults'>
                <thead class="mobileOnly">
                <tr>
                  <th name="rank">Class.<br>Scratch</th>
                  <th name="name">Nom</th>
                  <th name="point">Points</th>
                  <%= '<th name="sex">Sexe</th>'  if results_sex_any %>
                  <%= '<th name="categ">Cat&eacute;gorie</th>' if results_categ_any %>
                  <%= '<th name="nb_courses">Nb. courses</th>' %>
                </tr>
                </thead>
                <tbody>
                <%scores.each_with_index do |score, i|
                  edition_line[i] = ""
                  edition_line[i] += '<tr class="'+score.runner.sex+'" data-search="'+I18n.transliterate(score.runner.last_name + ' ' + score.runner.first_name).upcase+'" data-sexe-search="'+score.runner.sex+'" data-category-search="'+score.runner.category+'" data-bib-search="'+score.runner.category+'">' + "\n"
                  edition_line[i] += '<td class="center fixedColumn">' + (i+1).to_s + '</td>' + "\n"
                  edition_line[i] += '<td class="left fixedColumnWithMargin">'+coder.encode("#{score.runner.first_name} #{score.runner.last_name}", :named).html_safe+'</td>' + "\n"
                  # unless results_bib_any.empty?
                  #   unless result.bib.to_i < 0
                  #     edition_line[i] += '<td class="center">'+result.bib.to_s+'</td>' + "\n"
                  #   else
                  #     edition_line[i] += '<td class="center">-</td>' + "\n"
                  #   end
                  # end
                  edition_line[i] += '<td class="center">'+score.points.to_s+'</td>' + "\n"
                  if results_sex_any
                    unless score.runner.sex.nil?
                      edition_line[i] += '<td class="center">'+score.runner.sex+'</td>' + "\n"
                    else
                      edition_line[i] += '<td class="center">-</td>' + "\n"
                    end
                  end
                  # if results_sex_rank_any
                  #   unless result.sex_rank.nil?
                  #     edition_line[i] += '<td class="center">'+result.sex_rank.to_s+'</td>' + "\n"
                  #   else
                  #     edition_line[i] += '<td class="center">-</td>' + "\n"
                  #   end
                  # end
                  if results_categ_any
                    unless score.runner.category.nil?
                      edition_line[i] +=  '<td class="center">'+score.runner.category.to_s+'</td>' + "\n"
                    else
                      edition_line[i] += '<td class="center">-</td>' + "\n"
                    end
                  end
                  if results_categ_rank_any
                    unless score.nil?
                      edition_line[i] += '<td class="center">'+score.runner.results_in_global_challenge.to_s+'</td>' + "\n"
                    else
                      edition_line[i] += '<td class="center">-</td>' + "\n"
                    end
                  end
                  edition_line[i] += '</tr>' + "\n"
                %>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
          <p class="noResults" style="display:none;text-align:center;">Pas de r&eacute;sultat</p>
        </section>
        <%
           key = '#content_'+type
           @edition_lines[key] = edition_line
        %>
    <%end%>
    <script>
        edition_lines = [<%= @edition_lines.to_json %>][0];
        console.log(edition_lines);
        categoriesSorted = [<%= @categories_sorted.to_json %>];
        console.log('categoriesSorted =');
        console.log(categoriesSorted);
        longestName = [<%= @edition_longest_name.to_json %>];
    </script>
  </div>
</div>
<p style="color:black;height:23px;"><em>R&eacute;sultats g&eacute;n&eacute;r&eacute;s le <%=I18n.l @generated_at%>.</em></p>
<p style='text-align: center;color:black;height:23px;'><a style='text-decoration: none; color: black' href='http://kapp10.com'>Pour toute r&eacute;clamation, demande de modification ou de suppression d'information personnelle, merci de nous &eacute;crire à contact@kapp10.com</a></p>
</body>
