<!--
 Author: L'Apptelier
 Author URL: http://www.lapptelier.com
 -->
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Kapp10 - FreshStart</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- cadre général -->
<div class="main_frame">
  <div class="logo">
    <a href="/races"><%= image_tag_with_at2x "logo_kapp10.png" %></a>
  </div>
  <!-- cadre du contenu sous le média -->
  <div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <div class="content_frame">

    <%= yield %>

  </div>
</div>
</body>
</html>