<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Kapp10 - FreshStart
    </title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <nav class="navbar">
            <div class="logo">
              <a href="<%= root_path%>"><span>Kapp10 FreshStart</span></a>
            </div>
          </nav>
        </div>
      </div>
      <!-- cadre du contenu sous le média -->
      <div>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>

      <div class="content_frame">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
